<script type="text/javascript" src='/javascripts/submitCode.js'></script>
<h2 style='text-align: center'>{{prob.title}}</h2>
<p style='text-align: center' id='problem_id'>{{prob.problem_id}}</p>

<div class='problem_description'>
<h3 style='color:red'>Problem Description</h3>
{{prob.problem_description}}
<h3 style='color:red'>Input Description</h3>
{{prob.input_description}}
<h3 style='color:red'>Output Description</h3>
{{prob.output_description}}


<div class='sample'>
<h3>Sample Input
</h3>
{{prob.sample_input}}
</div>

<div class='sample'>
<h3>Sample Output
</h3>
{{prob.sample_output}}
</div>

<div class='submission'>
<h3> Submit Your Code Here</h3>
{{#if user}}
<div class='result'>
</div>
<p>Hi {{user.name}}, you can paste your code below</p>
<form method='POST' action='/problems/submit' accept-charset="utf-8">
<input hidden='true' name='problem_id' value='{{prob.problem_id}}'>
<textarea name='submit_code' id='submit_code' rows='20' cols='100'></textarea>
<br>
<p>
Choose your language and submit!
</p>
<select class='language' name='language'>
{{#each compilers}}
  		<option value="{{@key}}">{{@this}}</option>
 {{/each}}
</select><input type='submit' name='submit' id='submit'>
</form>
</div>
{{else}}
You must login before submitting your code.
{{/if}}
</div>